.club-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.clublink-banner {
    width: 100%;
    text-align: center;
}

.clublink-banner img {
    max-width: 100%; /* Ensure the image is responsive and fits its container */
    height: auto; /* Maintain aspect ratio */
}

.club-selection-box {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px 0; /* Add padding inside the box for content */
    position: relative; /* Needed for absolute positioning of the text */
    margin: 30px 0;
}

.club-info {
    display: flex;
    flex-direction: column; /* Stack the options vertically */
    align-items: center; /* Center align the options */
    gap: 20px; /* Add space between each option */
}

.club-option {
    background-color: grey;
    border-radius: 8px; /* Rounded corners as requested */
    width: 400px; /* Make each box take the full width available */
    height: 100px; /* Example height; adjust as needed */
}

.club-selection-text {
    position: absolute;
    text-align: left; /* Align text to the left */
    bottom: 60px; /* Position text at the bottom left of the container */
    left: 50px; /* Align with the padding of the container */
    margin: 0; /* Remove default margins */
    font-size: 30px;
    font-weight: bold;
}

/* Styling for each selection box */
.selection-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px; /* Fixed width for the selection box */
    background-color: #22E39F; /* Default background color */
    padding: 10px;
    border-radius: 10px;
}

/* Hover effect for the selection box */
.selection-box:hover {
    background-color: #7ccbab; /* Light grey background on hover */
}

/* Style for the navigation arrows */
.selection-box button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0 15px;
    color: white; /* Adjust color as needed */
}

/* Style for the images (flags, league logos, club crests) */
.selection-box img {
    width: 50px; /* Fixed width for images */
    height: auto; /* Maintain aspect ratio */
}

/* Style specifically for the flag images to ensure consistent size */
.flag-img {
    width: 30px; /* Adjust based on actual size preference */
}

/* Style for the league and club images */
.league-img {
    width: 200px; /* Adjust width automatically to maintain aspect ratio */
}

/* Text style for the selection names */
.selection-text {
    text-align: center;
    flex-grow: 1;
}

/* Adjustments for selection box containing the club crest and text */
.selection-box .club-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content vertically */
    gap: 5px; /* Space between the crest and the text */
    padding: 20px 0px;
}

/* Style adjustments for the club crest image */
.selection-box .club-info .club-crest {
    margin-top: 10px; /* Adjust margin as needed for visual spacing */
    height: 150px;
    width: auto; /* Adjust width as necessary */
}

/* Text style adjustments for the club name */
.selection-box .club-info .club-name {
    font-size: 16px; /* Adjust font size as necessary */
    text-align: center;
}

.country-info {
    display: flex;
    height: 40px;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between; /* Optional: Adjust based on your design needs */
}

.country-info .country-flag {
    height: 30px; /* Maintain aspect ratio */
    width: auto; /* Adjust width as necessary */
}

.country-info .country-name {
    font-size: 16px; /* Adjust based on your design preference */
    text-align: center;
    position: relative;
    bottom: 8px;
    margin-left: 10px;
}

.club-container {
    height: 200px;
}

.league-info {
    height: 60px;
}

.league-info img {
    height: 50px;
    width: auto;
}

/* Existing styles */

@keyframes slideText {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

.third-section {
    display: flex;
    width: 100%;
    align-items: stretch; /* This will ensure that both children stretch to fill the container */
    justify-content: space-between;

}

.remainder-content {
    flex-grow: 1;
    background-color: white; /* Ensures the left box has a white background */
    display: flex; /* Enables Flexbox for this container */
    align-items: center; /* Vertically centers the flex items (content) */
    justify-content: left; /* Horizontally centers the flex items (content) */
    padding: 10px; /* Adjust padding as needed */
    /* Add any additional styling as needed */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.remainder-content p {
    position: absolute;
    font-size: 40px;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: slideText 10s linear infinite; /* Apply the animation */
}
.square-box-button {
    width: 120px; /* Fixed width for the square button */
    height: 120px; /* Fixed height to maintain a square shape */
    background-color: #22E39F; /* Background color, visible during image load or if image fails to load */
    border-radius: 10px;
    border: 0;
    padding: 0; /* Remove padding to allow the image to fill the entire button */
    overflow: hidden; /* Ensure no part of the image overflows the button's bounds */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 30px; /* Space between the two buttons */
}

.square-box-button img {
    width: 50%; /* Make the image fill the width of the button */
    height: 50%; /* Make the image fill the height of the button */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}
/* Hover effect for the square button */
.square-box-button:hover {
    background-color: #7ccbab;
    transition: .3s;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .third-section {
        flex-direction: column;
    }

    .square-box-button {
        width: 50vw; /* Adjust for responsiveness */
        height: 50vw; /* Maintain 1x1 aspect ratio */
        margin-top: 20px; /* Space from the left side content on smaller screens */
    }
}

.featured {
    text-align: center;
    margin: 50px 0;
    position: relative; /* For absolute positioning of navigation arrows */
}

.slider-container {
    overflow: hidden;
    width: 80%; /* Adjust the width as needed */
    margin: auto; /* Center the slider container */
}

.slider {
    display: flex;
    transition: transform 0.5s ease-out; /* Smooth transition for sliding */
}

.box {
    flex: 0 0 auto; /* Prevent boxes from growing or shrinking */
    width: calc(100% / 5 - 20px); /* Adjust based on the number of boxes visible at once, accounting for margin */
    height: 300px; /* Fixed height */
    margin: 0 10px; /* Space between boxes */
    background-color: grey; /* Placeholder for image background */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align children to the bottom */
    position: relative; /* For positioning text */
}

.image {
    width: 100%;
    height: 80%; /* Adjust based on design preference */
    background-color: #ccc; /* Placeholder until images are added */
    background-size: cover;
    background-position: center;
}

.tag {
    background-color: darkgrey; /* Dark grey background for the tag */
    color: #fff;
    padding: 2px 5px; /* Padding inside the tag box */
    font-size: 12px; /* Smaller font size for the tag */
    border-radius: 4px; /* Rounded corners for the tag box */
    position: absolute;
    bottom: 30px; /* Adjust as needed to position above the name */
    left: 10px;
}

.name {
    color: #fff;
    position: absolute;
    bottom: 10px; /* Position at the bottom of the box */
    left: 10px;
    font-size: 16px; /* Adjust font size as needed */
}

/* Navigation arrows and other styles remain unchanged */
